@font-face {
  font-family: "bofrom";
  src: url("../font/bofrom.ttf") format("truetype");
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.bofrom {
  font-family: "bofrom" !important;
  font-size: 45px;
  letter-spacing: 3px;
  /* font-weight: bold; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
